body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f0f0f0;
}

#header {
  /* position: absolute; */
  top: 0;
  /* padding: 30px 20px;  */
  /* 상하 패딩 줄이기 */
  /* text-align: center; */
  background: rgb(5, 121, 230);
  /* linear-gradient(90deg, #666666 0%, #999999 100%); */
  color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  position: relative;
  object-fit: cover;
  /* overflow: hidden; */
  /* margin:0 auto;  */
}

.header-text {
  position: absolute;
  font-size: 70px;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #fff;
  text-align: center;
  /* -webkit-text-stroke-width: 0.5px;
  -webkit-text-stroke-color: black; */
  z-index: 1000;
}

.banner-image {
  width: 100%;
  height: 20%;
  /* margin:0 auto; */
  /* object-fit: none; */
  /*justify-content: center;
  border-radius: 20px; */
}

#open-sidebar {
  font-size: 24px;
  background: none;
  border: none;
  color: rgb(255, 255, 255);
  margin-left: 0px;
}

#search-container {
  position: -webkit-sticky;
  /* Safari 호환성을 위한 속성 */
  position: sticky;
  top: 0;
  width: 100%;
  background: rgb(5, 121, 230);
  /* background: linear-gradient(90deg, #666666 0%, #999999 100%); 원하는 배경색으로 변경 가능 */
  z-index: 1000;
  /* 다른 요소들 위에 표시되도록 z-index 설정 */
  padding: 0 0;
  /* 상하 패딩을 추가하여 더 보기 좋게 만듦 */
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  /* 아래쪽 그림자 효과 추가 */
  display: flex;
  align-items: center;
  /* 요소들을 수직으로 가운데 정렬 */
  justify-content: center;
  /* text-align: center; */
}

#search-input {
  margin: 30px;
  padding: 10px;
  width: 500px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 20px;
  outline: none;
}

#search-button {
  padding: 10px 20px;
  font-size: 16px;
  background-color: rgb(60, 72, 102);
  color: white;
  border: none;
  border-radius: 20px;
  cursor: pointer;
  transition: background-color 0.3s;
}

#search-button:hover {
  background-color: #45a049;
}

#sidebar {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #333;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
  z-index: 1500;
  /* 다른 요소들 위에 표시되도록 z-index 설정 */
}

#sidebar a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

#sidebar a:hover {
  color: #f1f1f1;
}

#close-sidebar {
  position: absolute;
  top: 20px;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
  background: none;
  border: none;
  color: white;
  cursor: pointer;
}

.confidence-slider-container {
  margin-top: 20px;
  margin-bottom: 10px;
  color: white;
  /* Confidence Set 텍스트 색상 */
}

.confidence-slider {
  width: 200px;
  appearance: none;
  height: 10px;
  background: #d3d3d3;
  outline: none;
  border-radius: 10px;
  margin-bottom: 5px;
}

.confidence-slider::-webkit-slider-thumb {
  appearance: none;
  width: 20px;
  height: 20px;
  background: #4CAF50;
  border-radius: 50%;
  cursor: pointer;
}

.confidence-value {
  font-size: 20px;
}

#image-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 20px;
}

.image-card {
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  transition: transform 0.3s ease-in-out;
  margin: 12px;
  text-align: center;
  display: flex;
  flex-direction: column;
}

.image-card:hover {
  transform: scale(1.05);
}

.image-card img {
  width: 200%;
  height: auto;
  flex: 1;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  max-width: 500px;
  max-height: 500px;
}

.label-info {
  padding: 10px;
  background-color: #f2f2f2;
}

.label-info p {
  margin: 5px 0;
  color: #333;
  font-size: 14px;
}

#apply-filter {
  padding: 10px 20px;
  font-size: 18px;
  background-color: rgb(60, 72, 102);
  color: white;
  border: none;
  border-radius: 20px;
  cursor: pointer;
  transition: background-color 0.3s;
}

#apply-filter:hover {
  background-color: #d0d327;
}

@media (max-width: 700px) {
  .container {
    width: 100%;
    padding: 10px;
    box-shadow: none;
  }

  #header {
    padding: 30px 50px;
    /* 상하 패딩 줄이기 */
    position: relative;
    /* overflow: hidden; */
    /* margin:0 auto;  */
    object-fit: cover;
    overflow: hidden;
    display: flex;
    justify-content: center;
  }

  .header-text {
    position: absolute;
    font-size: 40px;
    transform: translate(-50%, -50%);
  }

  .banner-image {
    max-width: 400px;
    margin: 0 auto;
    justify-content: center;
    width: 400px;
    height: auto;
  }

  #open-sidebar {
    font-size: 24px;
    background: none;
    border: none;
    color: rgb(255, 255, 255);
    margin-right: -30px;
  }

  #search-container {
    border-radius: 0px 0px 20px 20px;
  }

  #search-input {
    margin: 30px;
    padding: 10px;
    width: 300px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 20px;
    outline: none;
  }

  #search-button {
    padding: 10px 20px;
    font-size: 16px;
    background-color: rgb(60, 72, 102);
    color: white;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    transition: background-color 0.3s;
  }

}
